.index-skatepark {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  font-display: swap;
  font-family: var(--font-main);
  padding: 0 var(--padding-side) 70px;
  text-align: left;
  
  @media (--mobile) {
    padding: 0 var(--padding-side) 40px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    
    @media (--tablet-landscape) {
      display: block;
      width: 100%;
    }

    @media (--mobile) {
      display: block;
    }
  }

  &__col {
    width: 50%;
    
    @media (--tablet-landscape) {
      width: 100%;
    }

    &--image {
      background-repeat: no-repeat;
      background-size: contain;
      
      @media (--tablet-landscape) {
        background-position: center center;
        height: 400px;
      }
      
      @media (--mobile) {
        height: 300px;
      }
    }
  }

  &__content {
    padding: 30px var(--padding-side);
    @mixin tiny-container;
  }

  &__header {
    @mixin header2 center;
  }

  &__text {
    text-transform: uppercase;

    &--1 {
      @mixin header1 center;
    }

    &--2 {
      @mixin header2 center;
    }

    &--3 {
      @mixin header3 center;
    }

    &--4 {
      @mixin block-text center;
      margin: 0 0 10px;
    }
  }

  &__download {
    @mixin button-w-icon;

    background-color: var(--color-main);
    color: #fff;

    &-wrapper {
      text-align: center;
      width: 100%;
    }
  }
}